nav.titlebar {
    background: dodgerblue;
}
.titlebar-name {
    width: 50%;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    margin-bottom: 1.5rem;
}
h3 {
    margin-bottom: 1.0rem;
}
table {
    width: 100%;
}
table tr th.main {
    width: 50%;
}
table tr th.small {
    width: 25%;
}
nav.sidebar {
    background: #f6f6ff;
}


 /* view.ctp jsカウントダウンタイマー表示の調整   */
.cdt_txt span {
    line-height: 1;
}

.cdt_date {
    font-size: 1.6rem;
}

span.cdt_num {
    background-color: #ffffff;
    padding: 0 .15em;
    color: #ff0000;
}
